<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/JAVAee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudyHtml</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

   <!--  각 예외타입별 예외처리 등록하기  -->
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/SelfStudy/221014/error/05_number.jsp</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/SelfStudy/221014/error/04_arith.jsp</location>
  </error-page>
  
  <!-- 프로젝트 전체영역에서 공유해서 사용할수 있는 init-param설정  -->
   <context-param>
     <param-name>ex221015message</param-name>
     <param-value>오늘도 수고하셨습니다.</param-value>
   </context-param>
   
   <context-param>
     <param-name>ex221015driverName</param-name>
     <param-value>jdbc.odbc.OracleDriver</param-value>
   </context-param>
 
   <!-- initparam설정 -->
  <servlet>
    <servlet-name>ex221015initParamServlet</servlet-name>
    <servlet-class>ex221015.servlet.Ex02InitParamServlet</servlet-class>
    <init-param>
      <param-name>ex221015dbId</param-name>
      <param-value>jang</param-value>
    </init-param>
    <init-param>
      <param-name>ex221015dbPwd</param-name>
      <param-value>1234</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>ex221015initParamServlet</servlet-name>
    <url-pattern>/ex221015initParam </url-pattern>
  </servlet-mapping>
  
    <!-- filter등록
  	sampleFilter=new SampleFilter(); 동일 -->
  <filter>
  	<filter-name>sampleFilter</filter-name>
  	<filter-class>ex22102021.Ex01SampleFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>sampleFilter</filter-name>
  	<url-pattern>/01_test01.jsp</url-pattern>
  	<url-pattern>/02_test02.jsp</url-pattern>
  </filter-mapping>
  
  <!-- 22102223 예제 -->
    <!-- listener등록 -->
  <listener>
  	<listener-class>ex22102223.Ex01AppListener</listener-class>
  </listener>
  <!--세션 설정변경 session timeout 분단위 -->
  <!--  session-config>
  	<session-timeout>1</session-timeout>
  </session-config -->
  
  
  
<!-- 22110678910 필터,리스너,매핑 등록  필터 순서 주의 : EncodingFilter먼저 등록하기-->
 <!-- ServletContext영역에 전달되는 init-param정보  -->
  <context-param>
    <param-name>fileName</param-name>
    <param-value>actionMapping</param-value>
  </context-param>
  
  <filter>
    <filter-name>ex22110678910encodingFilter</filter-name>
    <filter-class>ex22110678910.Ex02EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
   <filter-name>ex22110678910encodingFilter</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ex22110678910sessionCheckFilter</filter-name>
    <filter-class>ex22110678910.Ex03SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
   <filter-name>ex22110678910sessionCheckFilter</filter-name>
   <url-pattern>/22110678910front</url-pattern>
  </filter-mapping>
  
</web-app>